@font-face {
    font-family: "cool";
    src: url("./coolvetica\ rg.otf");
}
.App {
    /* text-align: center; */
    background-color: #303030;
    min-height: 100vh;
    color: white;
    font-family: cool;
    font-size:x-large;;
}  
.container {
    margin-top: 50px;
    border: 4px solid white;
    padding: 20px;
}
.form {
    margin:auto;
    width: 80%;
}

/* Navigation Bar */
.logo-img {
    width: 2em;
    height: auto;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    display: none;
}
.navbar-nav .nav-item .nav-link, .dropdown-item {
    color: black;
    transition: color 1s;
    transition: background-color 1s;
  }
  
  .navbar-nav .nav-item .nav-link:hover, .dropdown-item:hover {
    color:white;
    background-color: #303030;
  }

/* Submit Links/Rerouting */
.btn-primary {
    color:black;
    background-color:white;
    outline-color: white;
    border-color:#303030;
    transition: color 1s;
    transition: background-color 1s;
}
.btn-primary:hover {
    color:white;
    background-color:#303030;
    outline-color:#303030;
    border-color:white;
}
.reroute {
    color: white;
    font-weight: bolder;
    transition: color 1s;
    transition: background-color 1s;
}
.reroute:hover {
    color:#303030;
    background-color: white;
    font-weight: bolder;
}
.info-btn {
    color:black;
    background-color:white;
    border-color:white;
    border-radius: 7px;
    font-size:large;
    transition: color 1s;
    transition: background-color 1s;
}
.info-btn:hover {
    color:white;
    background-color:#303030;
    border-color:white;
    font-size:large;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: right;
}
.footer .navbar-nav {
    padding-right: 10px;
    transition: color 1s;
    transition: background-color 1s;
}
.footer .nav-link:hover {
    color: white;
    background-color: #303030;
}

/* Form */
.form-control {
    width: 50%;
    /* margin: 0 auto;  */
}